.bg-head {
    background-color: #477bff;
    text-align: center;
}

.bg-main {
    padding: 6rem 0rem 2rem 0rem;
    text-align: center;
}

.m {
    margin: 2rem;
}

.p {
    padding: 2rem;
}

.footer {
    background-color: #2F304D;
    color: #fff;
    text-align: center;
}

.headFootCon {
    width: 1003px;
    margin: 0 auto;
    padding: 5px 0;
}

.blacktext {
    text-align: center;
    
}